/* variables*/
/*mixin*/
/* generic*/
  
  /* normalize */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B; }
    @media screen and (max-width: 767px) {
      h2 {
        font-size: 24px; } }
  
 
  
  
  .photo__container {
    height: 750px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .photo__container {
        height: 600px;
        width: 375px;
        margin-top: 91px;
        padding-top: 34px; } }
    .photo__container-head {
      height: 220px;
      width: 1440px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      @media screen and (max-width: 767px) {
        .photo__container-head {
          width: 375px; } }
      .photo__container-head-subtitle {
        font-weight: normal;
        font-size: 20px;
        line-height: 147.3%;
        color: #828282; }
        @media screen and (max-width: 767px) {
          .photo__container-head-subtitle {
            font-size: 12px; } }
      .photo__container-head-title {
        font-weight: bold;
        font-size: 64px;
        line-height: 120%;
        color: #1B1B1B;
        margin-top: 14px;
        margin-bottom: 30px; }
        @media screen and (max-width: 767px) {
          .photo__container-head-title {
            font-size: 32px;
            margin-top: 10px;
            margin-bottom: 20px; } }
      .photo__container-head-desc {
        width: 635px;
        font-size: 24px;
        line-height: 147.3%;
        color: #1B1B1B; }
        @media screen and (max-width: 767px) {
          .photo__container-head-desc {
            font-size: 16px;
            width: 335px; } }
    .photo__container-backArrow {
      width: 75px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      left: 241px;
      top: 7px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
      line-height: 147.3%;
      color: #508E87; }
      @media screen and (max-width: 767px) {
        .photo__container-backArrow {
          left: 20px;
          top: 7px; } }
      .photo__container-backArrow .fa{
        color: #61A199; }
    .photo__container_wrapper {
      width: 431px;
      height: 321px;
      margin: 50px 0 75px 0;
      background: #F7F7F8;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      @media screen and (max-width: 767px) {
        .photo__container_wrapper {
          width: 305px;
          height: 228px;
          margin: 30px 0 45px 0; } }
      .photo__container_wrapper-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: #FFFFFF;
        opacity: 0.5;
        position: absolute;
        z-index: 99; }
      
        
    .photo__container-btn-wrapper {
      width: 1440px;
      height: 84px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px -1px 0px #DEE2E4; }
      @media screen and (max-width: 767px) {
        .photo__container-btn-wrapper {
          width: 375px;
          height: 84px; } }
      .photo__container-btn-wrapper-btn {
        width: 176px;
        height: 51px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #B4B5BD;
        background: #E6E6E6;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 767px) {
          .photo__container-btn-wrapper-btn {
            width: 335px; } }
            
  .active-btn {
    background: #61A199;
    color: white;
  }
  .fa-circle-o-notch {
    font-size: 24px;
    color: #fff;
}
  .fa-camera {
    color: #61A199; }

  .file-hidden{
    display: none;
  }
  
  .hide {
    display: none;
  }
  @media screen and (max-width: 767px) {
    .uploadPhoto{
      width: 100%;
      height: 228px; } }

/* display*/
.photo__container_wrapper-content{
  position: absolute;
  z-index: 99;
}
.display-container{
  border-radius: 10px;
  width: 431px;
  height: 321px;
}
.uploadPhoto {
  border-radius: 10px;
}
.circle-container{
  width: 48px;
  height: 48px;
}
.circle-text{
  position: absolute;
  top: 16px;
  left:16px;
  color: white;

}
  
.bg-black {
  border-radius: 10px;
  width: 431px;
  height: 321px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  position: absolute;
}
.bg-icon{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  opacity: 1;
}
.bg-light {
  border-radius: 10px;
  width: 431px;
  height: 321px;
  opacity: 0.6;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .display-container {
    width: 305px;
    height: 228px;
  }
  .bg-black, .bg-light {
    width: 305px;
    height: 228px;
 
  }}