.content_wrapper {
  width: 1440px;
  text-align: center; } 
  @media screen and (max-width: 767px) {
    .content_wrapper {
      width: 375px; } 
  }

/*section-about*/
.section-about {
    height: 733px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   @media screen and (max-width: 767px) {
    .section-about {
      width: 375px;} }
     
    @media screen and (max-width: 767px) {
      .section-about {
        height: 474px;
        align-items: flex-start; } }
    .section-about__image {
      width: 397px;
      height: 300px;
      margin-bottom: 61px; }
      @media screen and (max-width: 767px) {
        .section-about__image {
          width: 267px;
          height: 202px;
          margin-bottom: 0; } }
    .section-about__wrapper {
      height: 212px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-family: "Roboto", sans-serif;
      color: #1B1B1B; }
      @media screen and (max-width: 767px) {
        .section-about__wrapper {
          height: 192px;
          margin-top: 40px; } }
      .section-about__wrapper-title {
        font-weight: bold;
        font-size: 64px;
        line-height: 120%;
        text-align: center; }
        @media screen and (max-width: 767px) {
          .section-about__wrapper-title {
            height: 38px;
            font-size: 32px;
            margin-bottom: 10px; } }
      .section-about__wrapper-text {
        width: 925px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 147.3%; }
        @media screen and (max-width: 767px) {
          .section-about__wrapper-text {
            width: 335px;
            font-size: 16px; } }