.footer {
    height: 124px;
    background-color: #3F3D56;
    display: flex;
    justify-content: center;
    align-items: center;
  margin: 0; }
    @media screen and (max-width: 767px) {
      .footer {
        height: 125px; } }
    .footer__wrapper {
      width: 1440px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 767px) {
        .footer__wrapper {
          height: 65px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding-left: 20px; } }
    .footer__copyright {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: white;
      opacity: 0.4;
      padding-left: 40px; }
      @media screen and (max-width: 767px) {
        .footer__copyright {
          width: 162px;
          padding: 0;
          margin: 0;} }
    .footer__social-icons {
      width: 124px;
      height: 32px;
      display: flex;
      justify-content: space-between;
      margin-right: 40px; }
      @media screen and (max-width: 767px) {
        .footer__social-icons {
          width: 124px;
          height: 32px;
          display: flex;
          padding-right: 0; } }
      .footer__social-icons .icon {
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: all 0.3s ease-in-out; }
      .footer__social-icons .icon:hover {
        box-shadow: 0 1px 4px 1px white; }
  